<div class="container">
    <div class="form-heading">
        <h5 class="text-success fw-bold">Create Quote</h5>
    </div>
    <!-- form to create quote -->
    <div class="form">
        <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' id="quote-form">
            <!-- Name of quote author -->
            <div class="form-group">
                <label for="author">Author</label>
                <input [(ngModel)]="newQuote.author" type="text" class="form-control" id="author" name="author" placeholder="Author of the quote" #author='ngModel' required>
                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p>Name is required</p>
                </div>
            </div>

            <!-- Quote textarea -->
            <div class="form-group mt-4">
                <label for="quote">Quote</label>
                <textarea [(ngModel)]="newQuote.quote" class="form-control" id="quote" rows="4" name="quote" placeholder="Write quote" #quote='ngModel' required></textarea>
                <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                    <p>Quote is required</p>
                </div>
            </div>

            <!-- Publisher of the quote -->
            <div class="form-group mt-4">
                <label for="publisher">Quote Posted By:</label>
                <input [(ngModel)]="newQuote.submitedBy" class="form-control" id="publisher" rows="4" name="publisher" #publisher='ngModel' required>
                <div [hidden]="publisher.valid || publisher.pristine" class="alert alert-danger">
                    <p>Publisher is required</p>
                </div>
            </div>

            <!-- Add quote button -->
            <div class="form-footer">
                <button type="submit" class="btn btn-success">Add Quote</button>
            </div>
        </form>
    </div>
</div>
