<!-- quotes page -->
<div class='container'>
  <div class='main d-flex flex-column'>
    <!-- existing quotes page -->
    <div class='quotes d-flex flex-row'>
      <div *ngFor='let quote of quotes;let delete =index' class="mb-4 d-flex align-items-stretch">
        <div class="card mx-2" style="width: 400px; height: 300px;">
          <div class="card-body">
            <h5 class="card-title">{{quote.author}}</h5>
            <p class="card-text">{{quote.quote}}</p>
            <span class="rows">
              <a class="pr-5">
                <i style='color:green'(click)='upVote(quote)' class="fa fa-thumbs-o-up"></i>{{quote.upvote}}
              </a>
              <a class="pr-5">
                <i style='color:red' (click)='downVote(quote)' class="fa fa-thumbs-down"></i>{{quote.downvote}}
              </a>
              <a>
                <i  (click)= 'quoteDelete($event,delete)' style='color:red'  class="fa fa-trash"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- create quote form -->
    <div class='create-quote'>
      <app-create-quote (addQuote)="newQuote($event)"></app-create-quote>
    </div>
  </div>
</div>
