.main {
  margin: 10px auto;
  padding: 30px;
  min-height: 300px;
  font-size: 25px;
}

.card {
  background-color: #b1a296;
}

.card-body span a {
  margin-right: 30px;
  text-decoration: none;
  cursor: pointer;
}

.card-body span a i {
  padding-right: 10px;
}
.card-title {
  font-size: 25px;
  color: blue;
}
