header {
  width: 100vw;
}
.header h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.header h4,
.header p {
  margin-left: 40px;
  margin-bottom: 5px;
  padding: 10px;
}
.header h4 {
  color: blue;
}

.header p {
  font-size: 25px;
}

.main {
  margin-top: 10px auto;
  padding: 30px;
  min-height: 300px;
  font-size: 25px;
}

.card {
  width: 400px;
  min-height: 400px;
  background-color: #b1a296;
  box-shadow: 0 4px 17px rgba(32, 94, 187, 0.35);
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.card-body span a {
  margin-right: 30px;
  text-decoration: none;
  cursor: pointer;
}

.card-body span a i {
  padding-right: 10px;
}
.card-title {
  font-size: 25px;
  color: blue;
}
