<div class='container'>
  <!-- page heading -->
  <div class="header">
    <h1 class="text-center text-success">Quotes App</h1>
    <h4>Welcome to Quotes App!</h4>
    <p>Here, you have the opportunity to be inspired by reading some of the popular philosophical quotes from reknown authors. You can also post additional quotes to inspire others.</p> 
  </div>
  
  <div class='main d-flex flex-column'>
    <!-- existing quotes page -->
    <div class='quotes d-flex flex-row'>
      <div *ngFor='let quote of quotes;let delete =index' class="mb-4 d-flex align-items-stretch">
        <div class="card mx-2">
          <div class="card-body">
            <h5 class="card-title">{{quote.author}}</h5>
            <p class="card-text">{{quote.quote}}</p>
            <span>Submitted by {{quote.submitedBy}} <b>{{quote.submissionDate|timePassed}} day(s) ago</b>.</span> <br> <br>
            <span class="rows">
              <a class="">
                <i style='color:green'(click)='upVote(quote)' class="fa fa-thumbs-o-up"></i>{{quote.upvote}}
              </a>
              <a class="">
                <i style='color:red' (click)='downVote(quote)' class="fa fa-thumbs-o-down"></i>{{quote.downvote}}
              </a>
              <a>
                <i  (click)= 'quoteDelete($event,delete)' style='color:red'  class="fa fa-trash-o"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- create quote form -->
    <div class='create-quote'>
      <app-create-quote (addQuote)="newQuote($event)"></app-create-quote>
    </div>
  </div>
</div>
